{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}Integrity Rules{% endtrans %}{% endblock %}


{% block body %}
{% include 'SwdAnalyzerBundle:Form:integrity_rule_filter.html.twig' %}
{% if is_granted('ROLE_ADMIN') %}{{ form_start(embeddedForm, {'style': 'inline'}) }}{% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        {% if is_granted('ROLE_ADMIN') %}<th><input id="select-all" type="checkbox" /></th>{% endif %}
        <th>{{ knp_pagination_sortable(rules, 'Rule ID'|trans, 'ir.id') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(rules, 'Profile ID'|trans, 'v.id') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(rules, 'Status'|trans, 'ir.status') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(rules, 'Last modified'|trans, 'ir.date') }}</th>
        <th>{{ knp_pagination_sortable(rules, 'Caller'|trans, 'ir.caller') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(rules, 'Algorithm'|trans, 'ir.algorithm') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(rules, 'Digest'|trans, 'ir.digest') }}</th>
        <th></th>
        {% if is_granted('ROLE_ADMIN') %}<th class="icons"></th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for rule in rules %}
      <tr>
        {% if is_granted('ROLE_ADMIN') %}<td><input name="selected[]" value="{{ rule.getId }}" class="select-item" type="checkbox" /></td>{% endif %}
        <td>{{ rule.getId }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'integrity_rule_filter': {'includeRuleIds': [rule.getId]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'integrity_rule_filter': {'excludeRuleIds': [rule.getId]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>{{ rule.getProfile.getId }} ({{ rule.getProfile.getName }})</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'integrity_rule_filter': {'includeProfileIds': [rule.getProfile.getId]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'integrity_rule_filter': {'excludeProfileIds': [rule.getProfile.getId]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>
          {% if rule.getStatus == 1 %} {{ label_success('Active'|trans) }}
          {% elseif rule.getStatus == 2 %} {{ label_danger('Inactive'|trans) }}
          {% elseif rule.getStatus == 3 %} {{ label_danger('Pending'|trans) }}
          {% endif %}
        </td>
        <td class="filter-icons">
          <a href="{{ mergePath({'integrity_rule_filter': {'includeStatus': rule.getStatus}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'integrity_rule_filter': {'excludeStatus': rule.getStatus}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>{{ rule.getDate|date('Y-m-d H:i'|trans) }}</td>
        <td title="{{ rule.getCaller }}">{{ rule.getCaller|truncate(50) }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'integrity_rule_filter': {'includeCallers': [rule.getCaller]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'integrity_rule_filter': {'excludeCallers': [rule.getCaller]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>{{ rule.getAlgorithm }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'integrity_rule_filter': {'includeAlgorithms': [rule.getAlgorithm]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'integrity_rule_filter': {'excludeAlgorithms': [rule.getAlgorithm]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>
          {{ rule.getDigest }}
          {% if rule.hasConflict %}
            {{ label_danger('Conflict'|trans) }}
          {% endif %}
        </td>
        <td class="filter-icons">
          <a href="{{ mergePath({'integrity_rule_filter': {'includeDigests': [rule.getDigest]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'integrity_rule_filter': {'excludeDigests': [rule.getDigest]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        {% if is_granted('ROLE_ADMIN') %}
        <td class="icons">
          <a href="{{ path('swd_analyzer_integrity_edit_rule', {'id': rule.getId}) }}">
            <i class="fa fa-pencil" title="{% trans %}Edit{% endtrans %}"></i>
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="clearfix">
    {% include 'SwdAnalyzerBundle:Pagination:limit.html.twig' %}
    <div class="page">
      {{ knp_pagination_render(rules, "", {}, { "class": "pagination", "prev_label": "Previous"|trans, "next_label": "Next"|trans, "first_label": "First"|trans, "last_label": "Last"|trans}) }}
    </div>
  </div>
{% if is_granted('ROLE_ADMIN') %}
  <div id="embedded-form-control">
    {{ form_row(embeddedForm.subaction) }}
    {{ form_row(embeddedForm.actions) }}
    <a class="btn btn-default" role="button" href="{{ path('swd_analyzer_integrity_add_rule') }}">{% trans %}Add{% endtrans %}</a>
    <a class="btn btn-default" role="button" href="{{ path('swd_analyzer_integrity_import') }}">{% trans %}Import{% endtrans %}</a>
    <a class="btn btn-default" role="button" href="{{ path('swd_analyzer_integrity_export') }}">{% trans %}Export{% endtrans %}</a>
  </div>
{{ form_end(embeddedForm) }}
{% endif %}
{% endblock %}
