{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}Profiles{% endtrans %}{% endblock %}


{% block body %}
{% include 'SwdAnalyzerBundle:Form:profile_filter.html.twig' %}
{% if is_granted('ROLE_ADMIN') %}{{ form_start(embeddedForm, {'style': 'inline'}) }}{% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        {% if is_granted('ROLE_ADMIN') %}<th><input id="select-all" type="checkbox" /></th>{% endif %}
        <th>{{ knp_pagination_sortable(profiles, 'Profile ID'|trans, 'v.id') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(profiles, 'Last modified'|trans, 'v.date') }}</th>
        <th>{{ knp_pagination_sortable(profiles, 'Server IP'|trans, 'v.serverIP') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(profiles, 'Name'|trans, 'v.name') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(profiles, 'Mode'|trans, 'v.mode') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(profiles, 'Whitelist'|trans, 'v.whitelistEnabled') }}</th>
        <th>{{ knp_pagination_sortable(profiles, 'Blacklist'|trans, 'v.blacklistEnabled') }}</th>
        <th>{{ knp_pagination_sortable(profiles, 'Integrity'|trans, 'v.integrityEnabled') }}</th>
        <th>{{ knp_pagination_sortable(profiles, 'Flooding'|trans, 'v.floodingEnabled') }}</th>
        <th>{{ knp_pagination_sortable(profiles, 'Blacklist threshold'|trans, 'v.blacklistThreshold') }}</th>
        <th>{{ knp_pagination_sortable(profiles, 'Flooding timeframe'|trans, 'v.floodingTime') }}</th>
        <th>{{ knp_pagination_sortable(profiles, 'Flooding threshold'|trans, 'v.floodingThreshold') }}</th>
        <th>{% trans %}# Requests{% endtrans %}</th>
        {% if is_granted('ROLE_ADMIN') %}<th class="icons"></th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for profile in profiles %}
      <tr>
        {% if is_granted('ROLE_ADMIN') %}<td><input name="selected[]" value="{{ profile.getId }}" class="select-item" type="checkbox" /></td>{% endif %}
        <td>{{ profile.getId }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'profile_filter': {'includeProfileIds': [profile.getId]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'profile_filter': {'excludeProfileIds': [profile.getId]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>{{ profile.getDate|date('Y-m-d H:i'|trans) }}</td>
        <td>{{ profile.getServerIP }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'profile_filter': {'includeServerIPs': [profile.getServerIP]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'profile_filter': {'excludeServerIPs': [profile.getServerIP]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>{{ profile.getName }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'profile_filter': {'includeNames': [profile.getName]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'profile_filter': {'excludeNames': [profile.getName]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>
          {% if profile.getMode == 1 %} {{ label_success('Active'|trans) }}
          {% elseif profile.getMode == 2 %} {{ label_danger('Passive'|trans) }}
          {% elseif profile.getMode == 3 %} {{ label_danger('Learning'|trans) }}
          {% endif %}
        </td>
        <td class="filter-icons">
          <a href="{{ mergePath({'profile_filter': {'includeModes': [profile.getMode]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'profile_filter': {'excludeModes': [profile.getMode]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>
          {% if profile.getWhitelistEnabled == 0 %} {{ label_danger('Disabled'|trans) }}
          {% elseif profile.getWhitelistEnabled == 1 %} {{ label_success('Enabled'|trans) }}
          {% endif %}
        </td>
        <td>
          {% if profile.getBlacklistEnabled == 0 %} {{ label_danger('Disabled'|trans) }}
          {% elseif profile.getBlacklistEnabled == 1 %} {{ label_success('Enabled'|trans) }}
          {% endif %}
        </td>
        <td>
          {% if profile.getIntegrityEnabled == 0 %} {{ label_danger('Disabled'|trans) }}
          {% elseif profile.getIntegrityEnabled == 1 %} {{ label_success('Enabled'|trans) }}
          {% endif %}
        </td>
        <td>
          {% if profile.getFloodingEnabled == 0 %} {{ label_danger('Disabled'|trans) }}
          {% elseif profile.getFloodingEnabled == 1 %} {{ label_success('Enabled'|trans) }}
          {% endif %}
        </td>
        <td>{{ profile.getBlacklistThreshold }}</td>
        <td>{{ profile.getFloodingTime }}</td>
        <td>
          {% if profile.getFloodingThreshold <= 0 %}
            {{ label_warning('No limitation'|trans) }}
          {% else %}
            {{ profile.getFloodingThreshold }}
          {% endif %}
        </td>
        <td>{{ profile.getLearningRequests }} / {{ profile.getProductiveRequests }}</td>
        {% if is_granted('ROLE_ADMIN') %}
        <td class="icons">
          <a href="{{ path('swd_analyzer_profile_edit', {'id': profile.getId}) }}">
            <i class="fa fa-pencil" title="{% trans %}Edit{% endtrans %}"></i>
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="clearfix">
    {% include 'SwdAnalyzerBundle:Pagination:limit.html.twig' %}
    <div class="page">
      {{ knp_pagination_render(profiles, "", {}, { "class": "pagination", "prev_label": "Previous"|trans, "next_label": "Next"|trans, "first_label": "First"|trans, "last_label": "Last"|trans}) }}
    </div>
  </div>
{% if is_granted('ROLE_ADMIN') %}
  <div id="embedded-form-control">
    {{ form_row(embeddedForm.subaction) }}
    {{ form_row(embeddedForm.actions) }}
    <a class="btn btn-default" role="button" href="{{ path('swd_analyzer_profile_add') }}">{% trans %}Add{% endtrans %}</a>
  </div>
{{ form_end(embeddedForm) }}
{% endif %}
{% endblock %}
