<div id="filters" class="clearfix">
  <a id="filters-button" href="#">
    <i class="fa fa-cogs" title="{% trans %}Toggle filters{% endtrans %}"></i>
  </a>
  <div id="filters-form" class="clearfix">
    {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="row">
        <div class="filters-form-include col-md-6">
          <h1>{% trans %}Include{% endtrans %}</h1>
          {% block include %}{% endblock %}
        </div>
        <div class="filters-form-exclude col-md-6">
          <h1>{% trans %}Exclude{% endtrans %}</h1>
          {% block exclude %}{% endblock %}
        </div>
      </div>
      <hr />
      <div class="filters-form-actions">
        {{ form_row(form.actions) }}
        <a class="btn btn-default" role="button" href="{{ path(app.request.attributes.get('_route')) }}?hash={{ random(1000) }}#filters">{% trans %}Clear{% endtrans %}</a>
      </div>
    {{ form_end(form) }}
  </div>
  <hr />
</div>
