<!DOCTYPE html>
<html>
  <head>
    <title>Shadow Daemon - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
      <!-- Bootstrap -->
      {% if not app.user or not app.user.getSetting.getTheme %}
      <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen" />
      {% else %}
      <link href="{{ asset('css/themes/' ~ app.user.getSetting.getTheme ~ '.css') }}" rel="stylesheet" media="screen" />
      {% endif %}
      {% if app.user and app.user.getSetting.isLocaleRTL %}
      <link href="{{ asset('css/bootstrap-rtl.css') }}" rel="stylesheet" media="screen" />
      {% endif %}
      <link href="{{ asset('css/bootstrap_form_2.css') }}" rel="stylesheet" media="screen" />
      <!-- Bootstrap Slider -->
      <link href="{{ asset('css/bootstrap-slider.css') }}" rel="stylesheet" media="screen" />
      <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
      {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
      <!-- Font Awesome -->
      <link href="{{ asset('bundles/swdanalyzer/css/font-awesome.min.css') }}" rel="stylesheet" />
      <!-- SwdAnalyzer -->
      <link href="{{ asset('bundles/swdanalyzer/css/main.css') }}" rel="stylesheet" />
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          {{ knp_menu_render('SwdAnalyzerBundle:Builder:mainMenu', { 'style': 'navbar', 'allow_safe_labels': 'true' }) }}
        </div>
      </div>
    </div>
    <div class="container">
      <noscript>
        <div class="alert alert-warning">
          <h4>{% trans %}Warning!{% endtrans %}</h4>
          {% trans %}You do not have Javascript enabled and thus some functionality won't work.{% endtrans %}
        </div>
      </noscript>
      {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
      {% block body %}{% endblock %}
    </div>
    <div class="footer">
      <div class="container">
        <span class="footer-title"><a href="https://shadowd.zecure.org/">{% trans %}Shadow Daemon -- Web Application Firewall{% endtrans %}</a></span>
        <span class="footer-copyright">{% trans with {'%year%': '2014-2022', '%name%': 'Hendrik Buchwald'} %}© %year% by %name%{% endtrans %}</span>
      </div>
    </div>
    {% block javascripts %}
      <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
      <script src="{{ asset('js/jquery.js') }}"></script>
      <!-- Bootstrap -->
      <script src="{{ asset('js/bootstrap.js') }}"></script>
      <!-- Bootstrap Slider -->
      <script src="{{ asset('js/bootstrap-slider.js') }}"></script>
      <!-- SwdAnalyzer -->
      <script src="{{ asset('bundles/swdanalyzer/js/main.js') }}"></script>
    {% endblock %}
  </body>
</html>
