{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}User{% endtrans %}{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{% trans %}User{% endtrans %}</h1>
</div>
<div>
  {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}
    {{ form_row(form.role) }}
    {{ form_row(form.changePassword) }}
  {{ form_end(form) }}
</div>
{% endblock %}
