{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}Home{% endblock %}


{% block body %}
<div class="page-header">
  <h1>Welcome to the “Shadow Daemon“ Administration Interface</h1>
</div>
<div class="col-md-7">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Profile</th>
        <th>Learning</th>
        <th>Whitelist</th>
        <th>Blacklist</th>
        <th>Last Request</th>
      </tr>
    </thead>
    <tbody>
      {% for profile in profiles %}
      <tr>
        <td>{{ profile.getName }}</td>
        <td>
          {% if profile.getLearningEnabled == 0 %} {{ label_success('Disabled') }}
          {% elseif profile.getLearningEnabled == 1 %} {{ label_danger('Enabled') }}
          {% endif %}
        </td>
        <td>
          {% if profile.getWhitelistEnabled == 0 %} {{ label_danger('Disabled') }}
          {% elseif profile.getWhitelistEnabled == 1 %} {{ label_success('Enabled') }}
          {% endif %}
        </td>
        <td>
          {% if profile.getBlacklistEnabled == 0 %} {{ label_danger('Disabled') }}
          {% elseif profile.getBlacklistEnabled == 1 %} {{ label_success('Enabled') }}
          {% endif %}
        </td>
        {% set foo = profile.getRequests|last %}
        <td>{% if foo %}{{ foo.getDate|date('Y-m-d H:i') }}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="col-md-1"></div>
<div class="col-md-4">
  <img style="margin-left: 5%" width="50%" src="{{ asset('bundles/swdanalyzer/images/icons/bug.svg') }}" />
</div>
<div class="col-md-12 jumbotron">
  <h2>Did you know ... ?</h2>
  <p>{{ tooltip }}</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="https://shadowd.zecure.org/docs/0.1.0/">Learn more &raquo;</a></p>
</div>
{% endblock %}
