{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}Home{% endtrans %}{% endblock %}


{% block body %}
<div class="page-header">
  <h1><b>Shadow Daemon</b> {% trans %}User Interface{% endtrans %}</h1>
</div>
<div class="col-md-7" id="table-home">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans %}Profile{% endtrans %}</th>
        <th>{% trans %}Mode{% endtrans %}</th>
        <th>{% trans %}Whitelist{% endtrans %}</th>
        <th>{% trans %}Blacklist{% endtrans %}</th>
        <th>{% trans %}Integrity{% endtrans %}</th>
        <th>{% trans %}Flooding{% endtrans %}</th>
        <th>{% trans %}# Attacks{% endtrans %}</th>
        <th>{% trans %}Last request{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for profile in profiles %}
      <tr>
        <td>{{ profile.getName }}</td>
        <td>
          {% if profile.getMode == 1 %} {{ label_success('Active'|trans) }}
          {% elseif profile.getMode == 2 %} {{ label_danger('Passive'|trans) }}
          {% elseif profile.getMode == 3 %} {{ label_danger('Learning'|trans) }}
          {% endif %}
        </td>
        <td>
          {% if profile.getWhitelistEnabled == 0 %} {{ label_danger('Disabled'|trans) }}
          {% elseif profile.getWhitelistEnabled == 1 %} {{ label_success('Enabled'|trans) }}
          {% endif %}
        </td>
        <td>
          {% if profile.getBlacklistEnabled == 0 %} {{ label_danger('Disabled'|trans) }}
          {% elseif profile.getBlacklistEnabled == 1 %} {{ label_success('Enabled'|trans) }}
          {% endif %}
        </td>
        <td>
          {% if profile.getIntegrityEnabled == 0 %} {{ label_danger('Disabled'|trans) }}
          {% elseif profile.getIntegrityEnabled == 1 %} {{ label_success('Enabled'|trans) }}
          {% endif %}
        </td>
        <td>
          {% if profile.getFloodingEnabled == 0 %} {{ label_danger('Disabled'|trans) }}
          {% elseif profile.getFloodingEnabled == 1 %} {{ label_success('Enabled'|trans) }}
          {% endif %}
        </td>
        <td>{{ profile.getProductiveRequests }}</td>
        {% set lastRequest = profile.getLastRequest() %}
        <td>
          {% if lastRequest %}
            <a href="{{ path('swd_analyzer_requests_list', {'request_filter': {'includeProfileIds': [profile.getId]}, 'sort': 'r.id', 'direction': 'desc'}) }}">
              {{ lastRequest.getDate|date('Y-m-d H:i'|trans) }}
            </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="col-md-1"></div>
<div id="logo">
  <img src="{{ asset('bundles/swdanalyzer/images/logo.png') }}" />
</div>
<div class="col-md-12 jumbotron">
  <h2>{% trans %}Did you know ... ?{% endtrans %}</h2>
  <p>{{ tooltip }}</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="https://shadowd.zecure.org/">{% trans %}Learn more{% endtrans %} &raquo;</a></p>
</div>
{% endblock %}
