{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}Blacklist Rules{% endblock %}


{% block body %}
{% include 'SwdAnalyzerBundle:Form:blacklist_rule_filter.html.twig' %}
{% if is_granted('ROLE_ADMIN') %}{{ form_start(embeddedForm, {'style': 'inline'}) }}{% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        {% if is_granted('ROLE_ADMIN') %}<th><input id="select-all" type="checkbox" /></th>{% endif %}
        <th>{{ knp_pagination_sortable(rules, 'Rule ID', 'br.id') }}</th>
        <th>{{ knp_pagination_sortable(rules, 'Profile ID', 'v.id') }}</th>
        <th>{{ knp_pagination_sortable(rules, 'Status', 'br.status') }}</th>
        <th>{{ knp_pagination_sortable(rules, 'Modified', 'br.date') }}</th>
        <th>{{ knp_pagination_sortable(rules, 'Caller', 'br.caller') }}</th>
        <th>{{ knp_pagination_sortable(rules, 'Path', 'br.path') }}</th>
        <th>{{ knp_pagination_sortable(rules, 'Threshold', 'br.threshold') }}</th>
        {% if is_granted('ROLE_ADMIN') %}<th class="icons"></th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for rule in rules %}
      <tr>
        {% if is_granted('ROLE_ADMIN') %}<td><input name="selected[]" value="{{ rule.getId }}" class="select-item" type="checkbox" /></td>{% endif %}
        <td><a href="{{ mergePath({'blacklist_rule_filter': {'ruleId': rule.getId}}) }}">{{ rule.getId }}</a></td>
        <td><a href="{{ mergePath({'blacklist_rule_filter': {'profileId': rule.getProfile.getId}}) }}">{{ rule.getProfile.getId }} ({{ rule.getProfile.getName }})</a></td>
        <td>
          <a href="{{ mergePath({'blacklist_rule_filter': {'status': rule.getStatus}}) }}">
          {% if rule.getStatus == 1 %} {{ label_success('Active') }}
          {% elseif rule.getStatus == 2 %} {{ label_danger('Inactive') }}
          {% elseif rule.getStatus == 3 %} {{ label_danger('Pending') }}
          {% endif %}
          </a>
        </td>
        <td>{{ rule.getDate|date('Y-m-d H:i') }}</td>
        <td title="{{ rule.getCaller }}"><a href="{{ mergePath({'blacklist_rule_filter': {'searchCallers': [rule.getCaller]}}) }}">{{ rule.getCaller|truncate(50) }}</a></td>
        <td title="{{ rule.getPath|truncate(250) }}"><a href="{{ mergePath({'blacklist_rule_filter': {'searchPaths': [rule.getPath]}}) }}">{{ rule.getPath|truncate(50) }}</a></td>
        <td>
          {% if rule.getThreshold < 0 %}
            {{ label_warning('No limitation') }}
          {% else %}
            {{ rule.getThreshold }}
          {% endif %}
        </td>
        {% if is_granted('ROLE_ADMIN') %}<td class="icons"><a href="{{ path('swd_analyzer_blacklist_edit_rule', {'id': rule.getId}) }}"><img src="{{ asset('bundles/swdanalyzer/images/icons/pencil.svg') }}" title="Edit rule" /></a></td>{% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="clearfix">
    {% include 'SwdAnalyzerBundle:Pagination:limit.html.twig' %}
    <div class="page">
      {{ knp_pagination_render(rules, "", {}, { "class": "pagination", "prev_label": "Previous", "next_label": "Next", "first_label": "First", "last_label": "Last"}) }}
    </div>
  </div>
{% if is_granted('ROLE_ADMIN') %}
  <div id="embedded-form-control">
    {{ form_row(embeddedForm.subaction) }}
    {{ form_row(embeddedForm.actions) }}
    <a class="btn btn-default" role="button" href="{{ path('swd_analyzer_blacklist_add_rule') }}">Add</a>
    <a class="btn btn-default" role="button" href="{{ path('swd_analyzer_blacklist_import') }}">Import</a>
    <a class="btn btn-default" role="button" href="{{ path('swd_analyzer_blacklist_export') }}">Export</a>
  </div>
{{ form_end(embeddedForm) }}
{% endif %}
{% endblock %}
