{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}Blacklist Rule{% endtrans %}{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{% trans %}Blacklist Rule{% endtrans %}</h1>
</div>
<div>
  {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.profile) }}
    {{ form_row(form.caller) }}
    {{ form_row(form.path) }}
    {{ form_row(form.threshold) }}
    {{ form_row(form.status) }}
    {{ form_row(form.actions) }}
  {{ form_end(form) }}
</div>
{% endblock %}
