{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}Requests{% endblock %}


{% block body %}
{% include 'SwdAnalyzerBundle:Form:request_filter.html.twig' %}
{% if is_granted('ROLE_ADMIN') %}{{ form_start(embeddedForm, {'style': 'inline'}) }}{% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        {% if is_granted('ROLE_ADMIN') %}<th><input id="select-all" type="checkbox" /></th>{% endif %}
        <th>{{ knp_pagination_sortable(requests, 'Request ID', 'r.id') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(requests, 'Profile ID', 'v.id') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(requests, 'Date', 'r.date') }}</th>
        <th>{{ knp_pagination_sortable(requests, 'Caller', 'r.caller') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(requests, 'Resource', 'r.resource') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(requests, 'Client IP', 'r.clientIP') }}</th>
        <th></th>
        <th>Summary</th>
        <th># Parameters</th>
        <th class="icons"></th>
      </tr>
    </thead>
    <tbody>
      {% for request in requests %}
      <tr>
        {% if is_granted('ROLE_ADMIN') %}<td><input name="selected[]" value="{{ request.getId }}" class="select-item" type="checkbox" /></td>{% endif %}
        <td>{{ request.getId }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'request_filter': {'includeRequestIds': [request.getId]}}) }}"><i class="fa fa-plus-square" title="Include"></i></a>
          <a href="{{ mergePath({'request_filter': {'excludeRequestIds': [request.getId]}}) }}"><i class="fa fa-minus-square" title="Exclude"></i></a>
        </td>
        <td>{{ request.getProfile.getId }} ({{ request.getProfile.getName }})</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'request_filter': {'includeProfileIds': [request.getProfile.getId]}}) }}"><i class="fa fa-plus-square" title="Include"></i></a>
          <a href="{{ mergePath({'request_filter': {'excludeProfileIds': [request.getProfile.getId]}}) }}"><i class="fa fa-minus-square" title="Exclude"></i></a>
        </td>
        <td>{{ request.getDate|date('Y-m-d H:i') }}</td>
        <td title="{{ request.getCaller }}">{{ request.getCaller|truncate(50) }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'request_filter': {'includeCallers': [request.getCaller]}}) }}"><i class="fa fa-plus-square" title="Include"></i></a>
          <a href="{{ mergePath({'request_filter': {'excludeCallers': [request.getCaller]}}) }}"><i class="fa fa-minus-square" title="Exclude"></i></a>
        </td>
        <td title="{{ request.getResource }}">{{ request.getResource|truncate(50) }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'request_filter': {'includeResources': [request.getResource]}}) }}"><i class="fa fa-plus-square" title="Include"></i></a>
          <a href="{{ mergePath({'request_filter': {'excludeResources': [request.getResource]}}) }}"><i class="fa fa-minus-square" title="Exclude"></i></a>
        </td>
        <td>{{ request.getClientIP }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'request_filter': {'includeClientIPs': [request.getClientIP]}}) }}"><i class="fa fa-plus-square" title="Include"></i></a>
          <a href="{{ mergePath({'request_filter': {'excludeClientIPs': [request.getClientIP]}}) }}"><i class="fa fa-minus-square" title="Exclude"></i></a>
        </td>
        <td>
          {% for reason in request.getReasons %}
            {{ label(reason) }}
          {% endfor %}
        </td>
        <td>{{ request.getParameters.count }}</td>
        <td class="icons">
          <a href="{{ path('swd_analyzer_parameters_list', {'parameter_filter[includeRequestIds][]': request.getId}) }}{% if app.user.getSetting.getOpenFilter %}#filters{% endif %}">
            <i class="fa fa-search" title="Show details"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="clearfix">
    {% include 'SwdAnalyzerBundle:Pagination:limit.html.twig' %}
    <div class="page">
      {{ knp_pagination_render(requests, "", {}, { "class": "pagination", "prev_label": "Previous", "next_label": "Next", "first_label": "First", "last_label": "Last"}) }}
    </div>
  </div>
{% if is_granted('ROLE_ADMIN') %}
  <div id="embedded-form-control">
    {{ form_row(embeddedForm.subaction) }}
    {{ form_row(embeddedForm.actions) }}
  </div>
{{ form_end(embeddedForm) }}
{% endif %}
{% endblock %}
