{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}Whitelist Rules Export{% endtrans %}{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{% trans %}Whitelist Rules Export{% endtrans %}</h1>
</div>
<div class="export">
  {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.profile) }}
    {{ form_row(form.base) }}
  <div class="row include-exclude">
    <div class="col-md-6">
      <h2>{% trans %}Include{% endtrans %}</h2>
    {{ form_row(form.includeCallers) }}
    {{ form_row(form.includePaths) }}
    </div>
    <div class="col-md-6">
      <h2>{% trans %}Exclude{% endtrans %}</h2>
    {{ form_row(form.excludeCallers) }}
    {{ form_row(form.excludePaths) }}
    </div>
  </div>
    {{ form_row(form.actions) }}
  {{ form_end(form) }}
</div>
{% endblock %}
