{% extends 'SwdAnalyzerBundle::layout.html.twig' %}


{% block title %}{% trans %}Parameters{% endtrans %}{% endblock %}


{% block body %}
{% include 'SwdAnalyzerBundle:Form:parameter_filter.html.twig' %}
{% if is_granted('ROLE_ADMIN') %}{{ form_start(embeddedForm, {'style': 'inline'}) }}{% endif %}
  <table class="table table-striped">
    <thead>
      <tr>
        {% if is_granted('ROLE_ADMIN') %}<th><input id="select-all" type="checkbox" /></th>{% endif %}
        <th>{{ knp_pagination_sortable(parameters, 'Parameter ID'|trans, 'p.id') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(parameters, 'Profile ID'|trans, 'v.id') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(parameters, 'Request ID'|trans, 'r.id') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(parameters, 'Date'|trans, 'r.date') }}</th>
        <th>{{ knp_pagination_sortable(parameters, 'Caller'|trans, 'r.caller') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(parameters, 'Client IP'|trans, 'r.clientIP') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(parameters, 'Path'|trans, 'p.path') }}</th>
        <th></th>
        <th>{{ knp_pagination_sortable(parameters, 'Value'|trans, 'p.value') }}</th>
        <th></th>
        <th class="icons"></th>
      </tr>
    </thead>
    <tbody>
      {% for parameter in parameters %}
      <tr>
        {% if is_granted('ROLE_ADMIN') %}<td><input name="selected[]" value="{{ parameter.getId }}" class="select-item" type="checkbox" /></td>{% endif %}
        <td>{{ parameter.getId }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'parameter_filter': {'includeParameterIds': [parameter.getId]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'parameter_filter': {'excludeParameterIds': [parameter.getId]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>{{ parameter.getRequest.getProfile.getId }} ({{ parameter.getRequest.getProfile.getName }})</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'parameter_filter': {'includeProfileIds': [parameter.getRequest.getProfile.getId]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'parameter_filter': {'excludeProfileIds': [parameter.getRequest.getProfile.getId]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>{{ parameter.getRequest.getId }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'parameter_filter': {'includeRequestIds': [parameter.getRequest.getId]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'parameter_filter': {'excludeRequestIds': [parameter.getRequest.getId]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>{{ parameter.getRequest.getDate|date('Y-m-d H:i'|trans) }}</td>
        <td title="{{ parameter.getRequest.getCaller }}">{{ parameter.getRequest.getCaller|truncate(50) }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'parameter_filter': {'includeCallers': [parameter.getRequest.getCaller]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'parameter_filter': {'excludeCallers': [parameter.getRequest.getCaller]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td>{{ parameter.getRequest.getClientIP }}</td>
        <td class="filter-icons">
          <a href="{{ mergePath({'parameter_filter': {'includeClientIPs': [parameter.getRequest.getClientIP]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'parameter_filter': {'excludeClientIPs': [parameter.getRequest.getClientIP]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td title="{{ parameter.getPath|truncate(250) }}">
          {{ parameter.getPath|truncate(50) }}
          {% if (parameter.getTotalRules == 0) %} {{ label_danger('Unknown|trans') }} {% endif %}
        </td>
        <td class="filter-icons">
          <a href="{{ mergePath({'parameter_filter': {'includePaths': [parameter.getPath]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'parameter_filter': {'excludePaths': [parameter.getPath]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td title="{{ parameter.getValue|truncate(250) }}">
          {{ parameter.getValue|truncate(50) }}
          {% if parameter.getCriticalImpact == 1 %} {{ label_danger('Critical impact'|trans) }} {% endif %}
          {% if parameter.getBrokenRules.count > 0 %} {{ label_danger('Broken rule'|trans) }} {% endif %}
        </td>
        <td class="filter-icons">
          <a href="{{ mergePath({'parameter_filter': {'includeValues': [parameter.getValue]}}) }}"><i class="fa fa-plus-square" title="{% trans %}Include{% endtrans %}"></i></a>
          <a href="{{ mergePath({'parameter_filter': {'excludeValues': [parameter.getValue]}}) }}"><i class="fa fa-minus-square" title="{% trans %}Exclude{% endtrans %}"></i></a>
        </td>
        <td class="icons">
          <a href="{{ path('swd_analyzer_parameter_show', {'id': parameter.getId}) }}">
            <i class="fa fa-search" title="{% trans %}Show details{% endtrans %}"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="clearfix">
    {% include 'SwdAnalyzerBundle:Pagination:limit.html.twig' %}
    <div class="page">
      {{ knp_pagination_render(parameters, "", {}, { "class": "pagination", "prev_label": "Previous"|trans, "next_label": "Next"|trans, "first_label": "First"|trans, "last_label": "Last"|trans}) }}
    </div>
  </div>
{% if is_granted('ROLE_ADMIN') %}
  <div id="embedded-form-control">
    {{ form_row(embeddedForm.subaction) }}
    {{ form_row(embeddedForm.actions) }}
  </div>
{{ form_end(embeddedForm) }}
{% endif %}
{% endblock %}
